<div class="options accountSet show" id="accountSet">
    <div class="user">
        <div class="user_p">
            <p id="error_p"> <%= locals.error ? locals.error : "" %> </p>
            <br>
            <label for="displayname">Display Name</label>
            <br>
            <input type="text" id="displaynameNew" name="displayname" data-ds="<%= user.display_name %>" value="<%= user.display_name %>">
            <br>
            <label for="username">Username</label>
            <br>
            <input type="text" id="usernameNew" name="username" data-u="<%= user.username %>" value="<%= user.username %>">
            <br>
            <br>
            <input type="button" id="btnchangeUser" value="Update Account" onclick="submit_newinfo()">
        </div>
    </div>
</div>

<div class="options apperanceSet" id="apperanceSet">
    <div class="apperance">
        <label for="themeChangeBTN">Change Theme</label>
        <input type="button" name="themeChangeBTN" id="themeChangeBTN" onclick="toggleTheme()" value="Change theme">
    </div>
</div>