<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty <%= locals.user ? `- ${locals.user.username}` : "" %></title>
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link rel="stylesheet" href="guest.css">
    <link rel="stylesheet" href="user.css">
    <link rel="stylesheet" href="settings.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <% if (!user) { %>
        <%- include("includes/topbar") %>
    <% } else { %>
        <%- include("includes/settings") %>
        <div class="window">
            <%- include("includes/leftList", {user})%>
            <%- include("includes/friendsList") %>
            <%- include("includes/channelpage") %>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = new io()

            socket.on("connect", (s) => console.log("Connected to server : ", socket.id))
            
        </script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
        <script src="js/main.js"></script>
        <script src="js/settings.js"></script>
    <% } %>
</body>
</html>